
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme Title</title>
</head>
<body>
    <div>
        Layout Deneme Sayfası
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
